@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Get";

    var name = HttpContextAccessor.HttpContext.Session.GetString("name");
    var address = string.Empty;
    if (HttpContextAccessor.HttpContext.Request.Cookies["Address"] != null)
    {
        address = HttpContextAccessor.HttpContext.Request.Cookies["Address"].ToString();
    }
    else
    {
        address = "BABAJI";    }
}

<h1>Get</h1>
@name
<hr />
@address
